body {
  font-family: Arial;
}

.todo-grid,
.todo-input-grid {
  display: grid; /* this one makes it so that it much easier to understand */
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center; /* this one makes it so that we have
  all 3 columns aligned in the middle */
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch; /* makes it so that the add button is aligned better */
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}